@import "rouge-github";
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700,400italic');

/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  // Padding for code boxes, and indent distance?
  margin: 0;
  // Dont know
  padding: 0;
  // Dont know
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


/* Base text styles */

body {
  // Padding from the top of the page, horizontal padding, padding from the bottom of the page, also padding from the bottom of the page?
  padding:10px 50px 0 0;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  // Generic text font size
	font-size: 16px;
  // Generic text color
	color: #1a657c;
  text-shadow:
    -1px -2px 20px #959794,
    0px 0px 0 #959794,
    0px  1px 0 #959794,
    1px  1px 0 #959794;;
  // Base page background color
	//background-color: #FBFAF7;
  background-image: url(arcade_carpet_512.png);
  // should the image repeat to fill or not
  background-repeat: repeat;
  // Should image cover the whole screen
  background-size: auto;
  // Should image scroll with page or not
  background-attachment: fixed;
  // Dont know
	margin: 0;
  // Spacing between new lines
	line-height: 1.8em;
	-webkit-font-smoothing: antialiased;

}

h1, h2, h3, h4, h5, h6 {
  // Color of header text
  color:#d19771;
  // Header's distance from the top of the screen, space between normal text and a header's break line (as it increases the distance shrinks), space between normal text and a header's break line (as it increases the distance increases)
  margin:20px 0 10px;
  // x offset (-20, 20 range), y offset (-20, 20 range), blur (max of 20)
  text-shadow:
    -2px -2px 20px #959794,
    0px 0px 0 #959794,
    0px  2px 0 #959794,
    2px  2px 0 #959794;
}

p, ul, ol, table, dl {
  // (Effects all class p, ul, ol, table, and dl if 0, listed classes become left aligned and space between new lines becomes uniform, if missing becomes centered with uniform spacing, if 1 becomes left aligned with uniform spacing), space from listed classes new lines
  margin:0 0 22px;
}

h1, h2, h3 {
	font-family: Arvo, Monaco, serif;
  // Bottom of header text's distance from line
  line-height:1.3;
	font-weight: normal;
}

h1,h2, h3 {
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4, h5, h6 {
	font-family: Arvo, Monaco, serif;
	font-weight: 700;
}

a {
  color:#C30000;
  font-weight:200;
  text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

a small {
	font-size: 12px;
}

em {
	font-style: italic;
}

strong {
  font-weight:700;
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 25px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 25px;
}

blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

dl, dt, dd, dl p {
	color: #444;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  border:0;
  background:#ccc;
  height:1px;
  margin:0 0 24px;
}

/* Images */

img {
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  padding: 5px;
  margin: 10px 0 32px 0;
  border: 1px solid #ccc;
}

p img, .emoji {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

/* Code blocks */

code, pre {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color:#000;
  font-size:14px;
}

pre {
	padding: 4px 12px;
  background: #FDFEFB;
  border-radius:4px;
  border:1px solid #D7D8C8;
  overflow: auto;
  overflow-y: hidden;
	margin-bottom: 32px;
}


/* Tables */

table {
  width:100%;
}

table {
  // Table border color
  border: 2px solid #334f8f;
  // Padding distance between the bottom and top from other tables
  margin-bottom: 32px;
  text-align: left;
 }

th {
  font-family: 'Arvo', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
  padding: 10px;
  // Header box background color
  background: #1a657c;
  // Header box text color
  color: #c58e6a;
 }

td {
  padding: 10px;
  // Table data section background color
	background: #05040a;
 }


/* Wrapper */
.wrapper {
  width:960px;
}


/* Header */

header {
  // Color of side box
	background-color: #05040a;
	color: #FDFDFB;
  // Side box width
  width: 200px;
  // Side box height
  /* height: 725px; */
  float:left;
  position:fixed;
  // Border thickness and color
	border: 2px solid #923468;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
  // Rounding of the top right corner of the side box
	border-top-right-radius: 40px;
  // Rounding of the bottom right corner of the side box
	border-bottom-right-radius: 40px;
  // Padding for the top of the side box, padding for the right side of the side box, padding for the bottom of the side box, padding for the left of the side box
	padding: 0px 25px 0px 25px;
  // Side box's distance from the top of the page, unsure, when 1 moves the box up while remaining left aligned
	margin: 0px 25px 0 0;
	-webkit-font-smoothing: antialiased;
}

p.header {
  // Non github button font size
	font-size: 16px;
}

h1.header {
	font-family: Arvo, sans-serif;
  // Side box header text font size
	font-size: 30px;
	font-weight: 300;
  // Space between text wrapping lines
	line-height: 1.3em;
	border-bottom: none;
	margin-top: 0;
}


h1.header, a.header, a.name, header a{
  // Color of header1 and button text in the side box
	color: #fff;
}

a.header {
	text-decoration: underline;
}

a.name {
	white-space: nowrap;
}

header ul {
  list-style:none;
  padding:0;
}

header li {
	list-style-type: none;
  // Button width
  /* width:132px; */
  // Button height
  height:15px;
  // Space between buttons
	margin-bottom: 12px;
  // Button text distance from top of button
	line-height: 1em;
  // Button text padding from top, button text padding from right side, button text padding from buttom, button text padding from left side
	padding: 6px 6px 6px 7px;

	background: #AF0011;
	background: -moz-linear-gradient(top, #AF0011 0%, #820011 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: -o-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: -ms-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: linear-gradient(to top, #533c31 0%,#d19771 100%);

	// Button roundness
  border-radius:8px;
  // Button border width and color
  border:1px solid #0D0D0D;

	-webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
	box-shadow: inset 0px 3px 3px 0 #959794;

}

header li:hover {
	background: #C3001D;
	background: -moz-linear-gradient(top, #C3001D 0%, #950119 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: -o-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: -ms-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: linear-gradient(to top, #C3001D 0%,#950119 100%);
}

a.buttons {
	-webkit-font-smoothing: antialiased;
	background: url(../images/arrow-down.png) no-repeat;
	font-weight: normal;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	padding: 2px 2px 2px 22px;
	height: 30px;
}

a.github {
	background: url(../images/octocat-small.png) no-repeat 1px;
}

a.buttons:hover {
  // Color of text on a git hub button when hovered 
	color: #8bf18e;
	text-decoration: none;
}


/* Section - for main page content */

section {
  // Main text section width
  width:1000px;
  // Main text section alignment from side box
  float:none;
  padding-right: 200px;
  padding-left: 325px;
  // Main text section bottom padding
  padding-bottom:50px;
}


/* Footer */

footer {
  width:170px;
  float:left;
  position:fixed;
  bottom:10px;
	padding-left: 50px;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

	footer {
		border-top: 1px solid #ccc;
		margin:0 84px 0 50px;
		padding:0;
	}

  header {
    padding-right:320px;
  }

  section {
    padding:20px 84px 20px 50px;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:130px;
    top:84px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:10px 20px 0;
		margin-right: 0;
  }

	section {
    padding:10px 0 10px 20px;
    margin:0 0 30px;
  }

	footer {
		margin: 0 0 0 30px;
	}

  header ul, header p.view {
    position:static;
  }
}

@media print, screen and (max-width: 480px) {

  header ul li.download {
    display:none;
  }

	footer {
		margin: 0 0 0 20px;
	}

	footer a{
		display:block;
	}

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
