.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
// Dont know
.highlight .cm {
  color: #999988;
  font-style: italic;
}
// Dont know what this is for
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
// Comment text color in code boxes
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
// Dont know
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
// Dont know
.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic;
}
// Dont know
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
// Dont know
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
// Dont know
.highlight .ge {
  color: #000000;
  font-style: italic;
}
// Dont know
.highlight .gr {
  color: #aa0000;
}
// Dont know
.highlight .gh {
  color: #999999;
}
// Dont know
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
// Dont know
.highlight .go {
  color: #888888;
}
// Dont know
.highlight .gp {
  color: #555555;
}
// idek
.highlight .gs {
  font-weight: bold;
}
// Dont know
.highlight .gu {
  color: #aaaaaa;
}
// Dont know
.highlight .gt {
  color: #aa0000;
}
// Color of 'true' in code boxes
.highlight .kc {
  color: #000000;
  font-weight: bold;
}
// Color of function and variable defenitions in code boxes
.highlight .kd {
  color: #000000;
  font-weight: bold;
}
// Dont know
.highlight .kn {
  color: #000000;
  font-weight: bold;
}
// Dont know
.highlight .kp {
  color: #000000;
  font-weight: bold;
}
// Dont know
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
// Dont know
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
// Color of return, do, and end (probably color of function specifiers) in code boxes
.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold;
}
// Dont know
.highlight .mf {
  color: #009999;
}
// Dont know
.highlight .mh {
  color: #009999;
}
// Dont know
.highlight .il {
  color: #009999;
}
// Dont know
.highlight .mi {
  color: #009999;
}
// Dont know
.highlight .mo {
  color: #009999;
}
// Dont know
.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}
// Dont know
.highlight .sb {
  color: #d14;
}
// Dont know
.highlight .sc {
  color: #d14;
}
// Dont know
.highlight .sd {
  color: #d14;
}
// Color of strings in code boxes
.highlight .s2 {
  color: #d14;
}
// Dont know
.highlight .se {
  color: #d14;
}
// Dont know
.highlight .sh {
  color: #d14;
}
// Color of Brackets and hashtags in code boxes
.highlight .si {
  color: #d14;
}
// Dont know
.highlight .sx {
  color: #d14;
}
// Dont know
.highlight .sr {
  color: #009926;
}
// Color of file paths in code boxes
.highlight .s1 {
  color: #d14;
}
// Dont know
.highlight .ss {
  color: #990073;
}
// Dont know
.highlight .s {
  color: #d14;
}
// Dont know
.highlight .na {
  color: #008080;
}
// Dont know
.highlight .bp {
  color: #999999;
}
// Dont know
.highlight .nb {
  color: #0086B3;
}
// Dont know
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
// Color of class and function names in code boxes
.highlight .no {
  color: #008080;
}
// Dont know
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
// Dont know
.highlight .ni {
  color: #800080;
}
// Dont know
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
// Color of memeber variables
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
// Dont know
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
// Dont know
.highlight .nn {
  color: #555555;
}
// Dont know
.highlight .nt {
  color: #000080;
}
// Dont know
.highlight .vc {
  color: #008080;
}
// Dont know
.highlight .vg {
  color: #008080;
}
// Dont know
.highlight .vi {
  color: #008080;
}
// Dont know
.highlight .nv {
  color: #008080;
}
// Dont know
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
// Color of operators in code boxes
.highlight .o {
  color: #000000;
  font-weight: bold;
}
// Dont know
.highlight .w {
  color: #bbbbbb;
}
// Color of the background of code boxes
.highlight {
  background-color: #f8f8f8;
}
